.theme-container.homepage {
  .hero {
    img {
      width: 50%;
      object-fit: scale-down;
      margin: 0 auto;
    }
  }
  .home {
    max-width: 100%;
    padding: 0;
  }
  .features {
    padding: 0.5rem 1rem;
  }
}